:root {
    /*Colors*/

        /*Primary*/


        /*Neutral*/
        --DarkText: hsl(229, 25%, 31%);
        --ScoreText: hsl(229, 64%, 46%);
        --HeaderOutline: hsl(217, 16%, 45%);

        /*Background*/
        --RadialGradientInit: hsl(214, 47%, 23%);
        --RadialGradientEnd: hsl(237, 49%, 15%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 360px;
    font-weight: 700;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(var(--RadialGradientInit) 30%,var(--RadialGradientEnd));
}
